<style>
  :host {
    width: 100%;
    display: block;
    height: 300px;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 20px;
  }

  .container {
    height: inherit;
    margin: 0;
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    box-sizing: border-box;
  }

  .image {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    flex-basis: 50%;
    background-color: #333;
  }

  .image img {
    align-self: center;
    opacity: 0;
    filter: blur(20px);
    transition: opacity 0.3s ease-out, filter 0.3s ease-out;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .image img.loaded {
    opacity: 1;
    filter: blur(0);
  }

  .image::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    margin-left: calc(50% - 35px);
  }

  .image.no-image::before {
    color: rgba(255, 255, 255, 0.336);
    /* font-weight: 900; */
    font-size: 4rem;
    content: '\f03e';
  }

  .description {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-end;
    padding: 20px;
    margin: 0;
    bottom: 0;
    width: 50%;
    color: #fff;
    text-align: left;
  }

  .description h1 {
    font-size: 1.4rem;
    font-weight: 900;
    padding: 0;
    margin: 0;
  }

  .description p {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0;
    margin: 4px 0 0 0;
  }

  @media (max-width: 460px) {
    .description h1 {
      font-size: 2rem;
      font-weight: 900;
      padding: 0 2rem;
      margin: 0;
    }

    .description p {
      font-size: 1.5rem;
      font-weight: 700;
      padding: 0 2rem;
      margin: 0;
    }

    .image img {
      width: 90%;
    }
  }
</style>

<div class="container">
  <div class="image"><i class="fas fa-camera"></i></div>
  <div class="description">
    <h1></h1>
    <p></p>
  </div>
</div>