<style>
  .carousel {
    width: 100%;
    height: 460px;
    overflow: hidden;
    position: relative;
    text-align: center;
  }

  .icon {
    display: inline-block;
    font: normal normal normal 1.5rem/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  .loading, .no-result {
    position: absolute;
    top: 60px;
    left: 0;
    width: 36%;
    height: 300px;
    margin: 0 32%;
    background-color: transparent;
    color: #999;
    font-size: 6rem;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
  }

  @keyframes rotating {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }

  .loading::before {
    content: '\f021';
    vertical-align: -120%;
    animation: rotating 1s linear infinite;
    color: #666;
  }

  .loading.active {
    opacity: 1;
  }

  .no-result::before {
    content: '\f119';
    vertical-align: -120%;
    animation: rotating 1s linear infinite;
    color: #666;
  }

  .no-result.active {
    opacity: 1;
  }

  .slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    width: 200%;
    margin-left: -50%;
    margin-top: -20px;
    opacity: 0;
    transition: opacity 0.3s ease-out;

  }

  .slider.active {
    opacity: 1;
  }

  .slider div {
    flex-grow: 1;
    flex-basis: 20%;
    background-color: #000;
    height: 300px;
  }

  .slider.animate-left {
    transition: transform 0.3s ease-out;
    transform: translate(20%);
  }

  .slider.animate-right {
    transition: transform 0.3s ease-out;
    transform: translate(-20%);
  }

  .arrows {
    font-size: 2rem;
    position: absolute;
    width: 100%;
  }

  .arrows .left {
    position: absolute;
    left: 5px;
    width: 28%;
    height: 460px;
  }

  .arrows .right {
    position: absolute;
    right: 5px;
    width: 28%;
    height: 460px;
  }

  .last-search {
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 40px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }

  .last-search.active {
    opacity: 1;
  }
</style>

<div class="carousel">
  <div class="arrows">
    <div class="left"></div>
    <div class="right"></div>
  </div>
  <div class="slider">
  </div>
  <div class="loading icon"></div>
  <div class="no-result icon"></div>
  <div class="last-search">
    <ck-timer></ck-timer>
  </div>
</div>