<style>
  .search-area {
    padding: 3rem;
    width: 70%;
    display: flex;
    flex-direction: row;
  }

  input {
    border: 1px solid #bbb;
    background-color: white;
    border-radius: 6px;
    height: 50px;
    padding: 10px 35px 10px 10px;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 300;
    box-sizing: border-box;
  }

  input:focus,
  button:focus {
    outline: dashed rgb(138, 138, 138) 1px;
    outline-offset: 2px;
    box-shadow: none;
  }

  .input {
    position: relative;
    width: 100%;
    cursor: pointer;
  }

  .icon {
    display: inline-block;
    font: normal normal normal 1.5rem/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  .input::after {
    color: red;
    content: '\f057';
    position: absolute;
    right: 8px;
    top: 13px;
    opacity: 0.6;
  }

  button {
    flex-grow: 1;
    display: inline-block;
    width: 15%;
    border-radius: 6px;
    height: 50px;
    margin: 0 0 0 4px;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 100ms ease-in-out;
    -webkit-appearance: none;
  }

  button.search {
    background: #06e0a5;
  }

  button.search:hover,
  button.search:focus {
    background: #09c290;
  }

  button.search:active {
    background: #09c290;
  }

  button.search::before {
    content: '\f061';
  }

  button.speech {
    background: #e0bf06;
  }

  button.speech:hover,
  button.speech:focus {
    background: #c4a809;
  }

  button.speech:active {
    background: #db2d2d;
  }

  button.speech::before {
    content: '\f130';
  }

  button.speech.recording {
    background: #db2d2d;
  }

  @keyframes rotating {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }

  button.speech.recording::before {
    animation: rotating 1s linear infinite;
  }
</style>

<div class="search-area">
  <div class="input icon">
    <input type="text">
  </div>
  <button class="search icon"></button>
  <button class="speech icon"></button>
</div>